.Card2{
  margin-top: 10%;
}

.Card-title{
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 500;
  background-image : var(--customGradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0 auto;
  animation: gradient 5s ease infinite, cursor 1s infinite step-end, typing 15s infinite steps(16) ;
  white-space: nowrap;
  overflow: hidden;
  background-size: 400% 400%;
}

.timeline {
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5%;
  }
  
  .timeline li {
    position: relative;
    margin-bottom: 50px;
  }
  
  .timeline li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #333;
    margin-left: -1px;
  }
  
  .timeline li:after {
    content: ''
  }
